.avatar{
    width: calc(3rem + 12px);
    height: calc(3rem + 12px);
    border-radius: 8px;
    object-fit: cover; /* mantém a proporção e preenche a div */
    object-position: center top; /* ajusta o foco visível da imagem */
}
.avatarWithBorder{
    width: calc(3rem + 12px);
    height: calc(3rem + 12px);
    border-radius: 8px;
    border: 4px solid var(--gray-800);
    outline: 3px solid var(--green-500);
    object-fit: cover; /* mantém a proporção e preenche a div */
    object-position: center top; /* ajusta o foco visível da imagem */
}